
{% load i18n %}
  <br><h2 >{% trans "Latest Posts" %}</h2><br><hr><br><br>
<div class="container">
  <div class="row">
{%	for	post	in	latest_posts	%}
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-1 ">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <a href="{{post.get_absolute_url}}" ><p>{{post.name}}</p> </a>
    </div>
    <ul class="list-group list-group-flush">
      <li class = "list-group-item">{{post.phoneStatus}}</li>
      <li class="list-group-item">{{post.wilaya}}</li>
      <li class="list-group-item">{{post.phone }}</li>
      <li class="list-group-item">{{post.price }} Da</li>
    </ul>
  </div>
</div>
{%	endfor	%}
</div>
  </div>
