{%	extends	"base.html"	%}
{% load accounts_tags %}
{% load i18n %}
{%	block	title	%}{% trans "Password Change" %}{%	endblock	%}
{%	block	content	%}
<div class="container ">
		<br><h2>{% trans "Change	your	password" %}</h2><hr><br><br>
		<div class="row">
	    <div class="offset-lg-3 col-lg-6 ">
		<form	action="."	method="post">
    <div class="form-group">
        <h5>{% trans "Your current Password" %} </h5><br>
        {{ form.old_password|addclass:"form-control"}}<br>
        {% if form.errors and form.old_password.errors %}
          <div class="alert alert-danger" role="alert">
    					{{form.old_password.errors}}
    				</div>
        {% endif %}
      </div>
      <h5>{% trans "New Password" %}<h5></br>
      {{ form.new_password1|addclass:"form-control" }}<br><br>
      {% if form.errors and form.new_password1.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.new_password1.errors}}
          </div>
      {% endif %}
      <h5>{% trans "Confirm " %}<h5> <br>
      {{ form.new_password2|addclass:"form-control" }}<br><br>
			{% if form.errors and form.new_password2.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.new_password2.errors}}
          </div>
			{% endif %}<hr>
      <input	type="submit"	class="btn btn-outline-primary" value={% trans "Change" %}>
  				{%	csrf_token	%}
  		</form>
			<br><br>
    	</div>
  	</div>
</div>
{%	endblock	%}
