{%	extends	"base.html"	%}
{% load i18n %}
{%	block	title	%}{% trans "Reset	your	password" %}{%	endblock	%}
{%	block	content	%}
  {% load accounts_tags %}
  <div class = "container">
		{%	if	validlink	%}
    <br><h2>{% trans "Reset	your	password" %}</h2><hr><br><br>
    <div class="row">
      <div class="offset-lg-3 col-lg-6 ">
    <form	action="."	method="post">{% csrf_token %}
    <div class="form-group">
        <h5>{% trans "Your New Password" %} </h5><br>
        {{ form.new_password1|addclass:"form-control"}}<br>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
              {{form.new_password1.errors}}
            </div>
        {% endif %}
      </div>
      <h5>{% trans "Confirm Your New Password" %}<h5></br>
      {{ form.new_password2|addclass:"form-control" }}<br><br>
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.new_password2.errors}}
          </div>
      {% endif %}<hr>
      <input	type="submit"	class="btn btn-outline-primary" value={% trans "Change" %}>
    </form>
    <br><br>
		{%	else	%}
        <div class="alert alert-warning" role="alert">
          <p>{% trans "The	password	reset	link	was	invalid,	possibly	because	it	has already	been	used.	Please	request	a	new	password	reset !" %}</p>
        </div>
    {%	endif	%}
  </div>
</div>
</div>
{%	endblock	%}
