{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
{% load accounts_tags %}
<div class="container">
  <br><h2>{% trans "Reset your Password using your email" %} </h2><hr>
  <div class="row">
    <div class="offset-lg-3 col-lg-6 ">
  		<form	action="."	method="post">{%	csrf_token	%}
        <br><br><h4>{% trans "Email" %} </h4><br>
          {{form.email|addclass:"form-control"}}<br>
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
                {{form.email.errors}}<br>
            </div>
          {% endif %}<br><hr>
      <input	type="submit"	class="btn btn-outline-primary" value={% trans "Send" %}>
    </form>
    <br><br>
</div>
</div>
</div>
{% endblock %}
